@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* Solution */
body {
  display: flex;
  flex-direction: column; /* header, content and footer are now placed vertically */
}

button {
  padding: 8px 16px;
}

/* Make the content a flex container, with flex-direction: column. Then set the content area to flex: 1, which is the shorthand for flex: 1 1 0 — the item can grow and shrink from a flex basis of 0. As this is the only item that can grow, it takes up all available space in the flex container and pushes the footer to the bottom. */
.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;

  /* to center */
  justify-content: center;
  align-items: center;
  
}

.header, .footer {
  display: flex;
  justify-content: space-between; /* The links in the header and footer are pushed to either side. */
  padding: 16px;
}

.footer {
  background-color: #eee;
}

ul {
  display: flex; /* to make row/horizontal */
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  margin: 0; /* because used to be a list in column */
  padding: 0; /* because used to be a list in column */

  list-style: none; /* remove bullets */
}

a {
  text-decoration: none; /* remove underline */
  color: black;
}